<br>
<div class='container text-center'>
	<div class='row'>
		<div class='col-lg-6'>	
			<h2>NFL Analysis</h2>
			<p>Here you will find stats and predictions based on the current and previous season</p>
		</div>
		<div class='col-lg-6'>
		<h2>Standings</h2>
		<div class='row'>
		<div class='col-lg-6'>
			<h3>AFC</h3>
			<h5>AFC East</h5>
			<table>	
			</table>
			<h5>AFC North</h5>
			<table>
			</table>
			<h5>AFC South</h5>
			<table>
			</table>
			<h5>AFC West</h5>
			<table>
			</table>
		</div>
		<div class='col-lg-6'>
			<h3>NFC</h3>
                        <h5>NFC East</h5>
                        <table>
                        </table>
                        <h5>NFC North</h5>
			<table>
			</table>
			<h5>NFC South</h5>
			<table>
			</table>
			<h5>NFC West</h5>
			<table>
			</table>
		</div>
		</div>
		</div>
	</div>
</div>
